.carousel-container {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .slide-content{
    display: flex;
    align-items: center;
    justify-content: center;

  }
  
  .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  .slide.active {
    opacity: 1;
    position: relative;
  }
  
  .media, .text {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 100%;
    color: #717171;
  }

  .media img {
    width: 450PX;
    height: 100%;
    object-fit: contain;
  }
  
  .text {
    text-align: justify;
    color: #000;
  }
  
  .left-arrow, .right-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 1;
  }
  
  .left-arrow {
    left: 10px;
  }
  
  .right-arrow {
    right: 10px;
  }

  .learn-more {
    position: absolute;
    bottom: 55px;
    background-color: #283139;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 1;
  }
  
  .carousel-indicators {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }
  
  .dot.active {
    background-color: #717171;
  }
  